.heading{
    min-height: 30vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    background: url(../images/heading-bg.webp) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
 }
 
 .heading h3{
    font-size: 5rem;
    color:var(--black);
    text-transform: uppercase;
 }
 
 .heading p{
    font-size: 2.5rem;
    color:var(--light-color);
 }
 
 .heading p a{
    color:var(--purple);
 }
 
 .heading p a:hover{
    text-decoration: underline;
 }
 
.shopping-cart .box-container{
    max-width: 1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    align-items: center;
    gap:1.5rem;
    justify-content: center;
 }
 
 .shopping-cart .box-container .box{
    text-align: center;
    padding:2rem;
    border-radius: .5rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    position: relative;
    border:var(--border);
 }
 
 .shopping-cart .box-container .box .fa-times{
    position: absolute;
    top:1rem; right:1rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background-color: var(--red);
    color:var(--white);
    border-radius: .5rem;
 }
 
 .shopping-cart .box-container .box .fa-times:hover{
    background-color: var(--black);
 }
 
 .shopping-cart .box-container .box img{
    height: 30rem;
 }
 
 .shopping-cart .box-container .box .name{
    padding:1rem 0;
    font-size: 2rem;
    color:var(--black);
 }
 
 .shopping-cart .box-container .box .price{
    padding:1rem 0;
    font-size: 2.5rem;
    color:var(--red);
 }
 
 .shopping-cart .box-container .box input[type="number"]{
    margin:.5rem 0;
    border:var(--border);
    border-radius: .5rem;
    padding:1.2rem 1.4rem;
    font-size: 2rem;
    color:var(--black);
    width: 9rem;
 }
 
 .shopping-cart .box-container .box .sub-total{
    padding-top: 1.5rem;
    font-size: 2rem;
    color:var(--light-color);
 }
 
 .shopping-cart .box-container .box .sub-total span{
    color:var(--red);
 }
 
 .shopping-cart .cart-total{
    max-width: 1200px;
    margin:0 auto;
    border:var(--border);
    padding:2rem;
    text-align: center;
    margin-top: 2rem;
    border-radius: .5rem;
 }
 
 .shopping-cart .cart-total p{
    font-size: 2.5rem;
    color:var(--light-color);
 }
 
 .shopping-cart .cart-total p span{
    color:var(--red);
 }
 
 .shopping-cart .cart-total .flex{
    display: flex;
    flex-wrap: wrap;
    column-gap:1rem;
    margin-top: 1.5rem;
    justify-content: center;
 }
 
 .shopping-cart .disabled{
    pointer-events: none;
    opacity: .5;
    user-select: none;
 }